body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #b3d4fc;
    color: white;
    padding: 30px;
}
nav a{
    text-decoration: none;
    color: #100f0f;
    font-size: 18px;
    padding: 15px;
    transition: background-color 0.3s;
    font-weight: bold;
}
nav a:hover {
    background-color: #0e86e7;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

h2 {
    color: #ffffff;
}

.order {
    border: 3px solid #b3d4fc;
    margin: 10px;
    padding: 10px;
}

button {
    background-color: #0e86e7;
    color: #100f0f;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: #49028d;
    color: white;
}
footer {
    background-color: #b3d4fc;
    padding: 0px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Контейнер для всей информации в подвале */
footer div {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.adres p, .adres1 p, .adres2 p {
    font-size: 18px;
    color: #555;
    line-height: 0;
    font-weight: bold;
}
h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.add-to-cart {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.add-to-cart p {
    font-weight: bold;
    font-size: 18px;
}

.add-to-cart form {
    margin-top: 20px;
}

.logo img {
    width: 200px;
    height: 60px;

}